Repository alexdremov/SwiftYFinance: changes, and which Codecov flags are due for each by the changed paths.
All: SwiftYFinance, moduleB

Update codecov.yml
  codecov.yml
Due: none

Code coverage added
  README.md
Due: none

Update README.md
  README.md
Due: none

[CodeFactor] Apply fixes
  SwiftYFinance/Classes/Exceptions/YFinanceResponseError.swift
  SwiftYFinance/Classes/Processing/SwiftYFinance.swift
Due: SwiftYFinance

Code quality
  .travis.yml
  SwiftYFinance/Classes/Processing/SwiftYFinance.swift
  codecov.yml
Due: SwiftYFinance

Update .gitignore
  .gitignore
Due: none

Update SwiftYFinance.swift
  SwiftYFinance/Classes/Processing/SwiftYFinance.swift
Due: SwiftYFinance

Recent data from distant past
  SwiftYFinance/Classes/Processing/SwiftYFinance.swift
Due: SwiftYFinance

Update SwiftYFinance.podspec
  SwiftYFinance.podspec
Due: SwiftYFinance

Small style adjustments, documentation
  SwiftYFinance/Classes/Processing/SwiftYFinance.swift
Due: SwiftYFinance

Better documentation
  SwiftYFinance/Classes/Processing/SwiftYFinance.swift
Due: SwiftYFinance

podspec
  SwiftYFinance.podspec
Due: SwiftYFinance

Code style
  SwiftYFinance/Classes/Processing/SwiftYFinance.swift
Due: SwiftYFinance

Better example
  Example/Pods/Manifest.lock
  Example/Pods/Pods.xcodeproj/project.pbxproj
  Example/Pods/Target Support Files/BeautyChart/BeautyChart-Info.plist
  Example/StockInfo/Views/SheetView.swift
Due: moduleB

Podspec
  Example/Pods/BeautyChart/BeautyChart/Classes/Tools/CGPointsSet.swift
  Example/Pods/BeautyChart/BeautyChart/Classes/Tools/DragView.swift
  Example/Pods/BeautyChart/BeautyChart/Classes/Tools/MagnifyOnPress.swift
  Example/Pods/BeautyChart/BeautyChart/Classes/Tools/Path+QuadCurve.swift
  Example/Pods/BeautyChart/BeautyChart/Classes/Views/ChangeBar/ChangeBarStyle.swift
  Example/Pods/BeautyChart/BeautyChart/Classes/Views/ChangeBar/ChangeBarView.swift
  Example/Pods/BeautyChart/BeautyChart/Classes/Views/ChartSmoothView.swift
  Example/Pods/BeautyChart/BeautyChart/Classes/Views/LineView/LineViewStyle.swift
  Example/Pods/BeautyChart/BeautyChart/Classes/Views/LineView/PressLineView.swift
  Example/Pods/BeautyChart/BeautyChart/Classes/Views/QuickChartView/QuickChartView.swift
  Example/Pods/BeautyChart/README.md
  SwiftYFinance.podspec
Due: SwiftYFinance, moduleB

UI modifications
  Example/StockInfo/Views/SheetView.swift
Due: moduleB

Reliable release with beautiful documentation
  SwiftYFinance.podspec
Due: SwiftYFinance

Create ossar-analysis.yml
  .github/workflows/ossar-analysis.yml
Due: none

Delete ossar-analysis.yml
  .github/workflows/ossar-analysis.yml
Due: none

Run tests
  README.md
Due: none

Update swift.yml
  .github/workflows/swift.yml
Due: none

Removed .idea
  .idea/SwiftYFinance.iml
Due: none

gitignore
  .gitignore
Due: none

Path conditions:
  SwiftYFinance: any of: SwiftYFinance
  moduleB: any of: Example
